* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightgray;
    height: 40px;
}

.container-header {
    width: 1200px;
    height: 40px;
    margin: auto;
    border: 1px dotted red;
}

.slider {
    background-color: lightblue;
    height: 504px;
}

.container-slider {
    width: 1200px;
    height: 504px;
    margin: auto;
    border: 1px dotted red;
}

.box-two {
    background-color: lavender;
    height: 350px;
}

.container-box-two {
    width: 1200px;
    height: 350px;
    margin: auto;
    border: 1px dotted red;
}

.box-three {
    background-color: lemonchiffon;
    height: 725px;
}

.container-box-three {
    width: 1200px;
    height: 725px;
    margin: auto;
    border: 1px dotted red;
}

.form {
    background-color: lavenderblush;
    height: 530px;
}

.container-form {
    width: 1200px;
    height: 530px;
    margin: auto;
    border: 1px dotted red;
}

footer {
    background-color: lightslategrey;
    height: 123px;
}

.container-footer {
    width: 1200px;
    height: 123px;
    margin: auto;
    border: 1px dotted red;
}